<div id="sl_footer" class="sl_footer">
	<div class="sl_inner">
		<div class="sl_row">
			<div class="sl_footer__branding sl_cell large-4 xsmall-6">

					<a href="{{ site.url }}" class="sl_footer__logo">
						{% include "sl_logo.twig" with {'image': option} %}
					</a>{# /.sl_nav-logo #}

			</div>{# /.sl_footer__branding #}

			<div class="sl_footer__menu sl_cell large-8 xsmall-6">

					<div class="sl_row">
						{# FOOTER MAIN MENU #}
						<div class="sl_cell show-for-large large-4">
				    		{% include "footer/footer-menu.twig" with {'menu': menu.get_items }%}
				    	</div>{# /.sl_cell #}

				    	{# FOOTER USER MENU #}
				    	{% if user_menu.get_items != null %}
				    	<div class="sl_cell show-for-large large-4">
				    		{% include "menu/user-menu.twig" with {'user_menu': user_menu.get_items} %}
				    	</div>{# /.sl_cell #}
				    	{% endif %}

				    	{# FOOTER ADDRESS #}
				    	<div class="sl_cell large-4 small-12">
				    		{% include "footer/address.twig" %}
				    	</div>{# /.sl_cell #}

		    		</div>{# /.sl_row #}
			</div>{# /.sl_footer__menu#}
		</div>{# /.sl_row #}
	</div>{# /.sl_inner #}

    {# Info #}
    <div class="sl_footer__info">
		<div class="sl_inner">
			{# SOCIAL ICONS#}
			{% include "partials/footer/social-media.twig"  %}

			<p>Physicians are on the medical staff of {{ bloginfo('name') }}, but, with limited exceptions, are independent practitioners who are not employees or agents of {{ bloginfo('name') }}. The facility shall not be liable for actions or treatments provided by physicians. Model representations of real patients are shown. Actual patients cannot be divulged due to HIPAA regulations. All rights reserved. </p>
			
			{# FOOTER LINKS #}
			{% include "footer/footer-menu.twig" with {'menu': footer_menu.get_items }%}

			{# COPYRIGHT #}
  			<p>&copy; {{ now|date('Y') }} {{ bloginfo('name') }}. All Rights Reserved.</p>

		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__email #}
</div>{# /.sl_footer #}