{# MOBILE MENU #}
<div class="sl_mobilenav" data-responsive-toggle="sl_mobilemenu" data-hide-for="large">
	
	{# Left Side #}
	<div class="sl_mobilenav__left">
		<a href="{{ site.url }}" class="sl_mobilenav__logo">
			{% include "sl_logo.twig" with {'image': option} %}
		</a>{# /.sl_nav-logo #}
	</div>{# /.sl_mobilenav__left #}

	{# Right Side #}
	<div class="sl_mobilenav__right">
		<button class="sl_button sl_button--menu" type="button" data-toggle="sl_offcanvas">
			<span class="sl_mobilenav__label">Menu</span>
		</button>{# /.sl_button sl_button--menu #}
	</div>{# /.sl_mobilenav__right #}
</div>{# sl_mobilnav #}


{# DESKTOP MENU #}
<div class="sl_nav show-for-large">

		{# Left Side #}
		<div class="sl_nav__left">
			<a href="{{ site.url }}" class="sl_nav__logo">
				{% include "sl_logo.twig" with {'image': option} %}
			</a>{# /.sl_nav__logo #}
		</div>{# /.sl_nav__left #}

		{# Right Side #}
		<div class="sl_nav__right">
			<div class="sl_nav__secondary">
				<div class="sl_nav__phone">
					<div class="sl_phone">
						<span class="sl_phone__cta">Call us today</span>
						<a class="sl_phone__number" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a>
					</div> {# /.sl_phone #}
				</div> {# /.sl_nav__phone #}
				<div class="sl_nav__search">
					{% include "sl_search.twig" %}
				</div>{# /.sl_nav__search #}
				<div class="sl_nav__usermenu">
					{% include "menu/user-menu.twig" with {'user_menu': user_menu.get_items} %}
				</div>{# /.sl_nav__usermenu #}
			</div>{# /.sl_nav__secondary #}
			<div class="sl_nav__menu">
				{% include "menu/menu.twig" with {'menu': menu.get_items} %}
			</div>{# /.sl_nav__menu #}
		</div>{# /.sl_nav__right #}
</div>{# /#sl_top-bar #}
