{% extends "base.twig" %}

{% block content %}

{# Check for Featured Image #}
{% if post.thumbnail %}
	<div class="sl_content__header" style="background-image: url({{ post.thumbnail.src() }}">
		<div class="sl_inner">
			<h1>{{post.title}}</h1>
		</div>
	</div>	
{% endif %}

{# Breadcrumbs #}
<div class="sl_inner">
	{{ function('get_breadcrumb') }}
</div>

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">

			<div class="sl_row">
				<div class="sl_cell large-8 xlarge-9 sl_content__main">
					
					{# If No Featured Image #}
					{% if post.thumbnail == null %}
						<h1>{{post.title}}</h1>
					{% endif %}

					<main id="main" class="sl_main">
						{{post.content}}

						{% if option.global_cta %}
							<div class="sl_content__global_cta">
								{{ option.global_cta|wpautop }}
							</div>
						{% endif %}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

				<div class="sl_cell large-4 xlarge-3 show-for-large sl_content__sidebar">
					<div data-sticky-container class="sl_sidebar">
						<div data-sticky class="sl_sidebar__container sl_sticky"  data-anchor="main">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end #sidebarcontent -->
					</div><!-- end sticky container -->
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}