{% extends "module.twig" %}

{% block card %}
	
	{# HEADER #}
	{% if module.header %}
		<h2>{{module.header}}</h2>
	{% endif %}

	{# STAFF SPOTLIGHT#}
    {% if module.type_select == "spotlight" %}
        <div class="sl_row sl_staff__spotlight">
            {% for staff in Post(module.staff) %}
            <div class="sl_cell large-4 medium-5">
                <div class="sl_staff__image" style="background-image:url({{ staff.thumbnail.src() }})"></div>{# /.sl_staff__image #}
            </div>
            <div class="sl_cell large-8 medium-7">
                <h3>{{staff.first_name}} {{staff.last_name}}{% if staff.certifications %}, {{staff.certifications}}{% endif %}</h3>
                <h4>{{staff.staff_title}}</h4>
                {{staff.content|truncate(150)}}
                {% if staff.content|split('')|length > 150 %}
                	<a class="sl_button sl_button--hollow" href="/about-us/providers-and-staff/{{staff.slug}}">Read More</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {# STAFF DECK#}
    {% if module.type_select == "deck" %}
        <div class="sl_row sl_staff__deck {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %} xsmall-up-2">
            {% for staff in Post(module.staff) %}
            <div class="sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" %}{% endif %}">
                <a href="/about-us/providers-and-staff/{{staff.slug}}" class="sl_card sl_card--staff">
                    <div class="sl_staff__image" style="background-image:url({{ staff.thumbnail.src() }})"></div>{# /.sl_staff__image #}
                    <div class="sl_card__content">
                        <h3>{{staff.first_name}} {{staff.last_name}}</h3>
                        {% if staff.certifications %}<p class="sl_staff__cert">{{staff.certifications}}</p>{% endif %}
                        {% if staff.title %}<p class="sl_staff__title">{{staff.staff_title}}</p>{% endif %}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
