{% extends "module.twig" %}

{% block card %}
	{# HEADER  #}
	{% if module.header %} 
		<h2>{{ module.header }}</h2>
	{% endif %}
	
	<div class="sl_card sl_card--spotlight">
		
		{# PARAGRAPH #}
		{% if module.wysiwyg %}
			{{ module.wysiwyg|wpautop }}
		{% endif %}
		
		{# BUTTONS #}
		{% if module.buttons %}
			{% include "card-button.twig" with { card : module } %}
		{% endif %}
	</div>{# /.sl_card--spotlight #}
{% endblock %}