{% extends "base.twig" %}

{% block content %}

{# Check for Featured Image #}
{% if post.thumbnail %}
	<div class="sl_content__header" style="background-image: url({{ post.thumbnail.src() }}">
		<div class="sl_inner">
			<h1>{{post.title}}</h1>
		</div>
	</div>	
{% endif %}

{# Breadcrumbs #}
<div class="sl_inner">
	{{ function('get_breadcrumb') }}
</div>

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
					
		{# If No Featured Image #}
		{% if post.thumbnail == null %}
			<div class="sl_inner">
				<h1>{{post.title}}</h1>
			</div>{# /.sl_inner #}
		{% endif %}

		<main id="main" class="sl_main">
			<div class="sl_inner">
				{{post.content}}
			</div>{# /.sl_inner #}

			{# MODULES #}
			{% if modules %}
			{% for module in modules %}
				{% set mylayout = (module.acf_fc_layout) %}
				{% include 'module-'~mylayout~'.twig' with {this : module} %}
			{% endfor %}
			{% endif %}
			{# END MODULES #}

			{% if option.global_cta %}
				<div class="sl_inner">
					<div class="sl_content__global_cta">
						{{ option.global_cta|wpautop }}
					</div>
				</div>{# /.sl_inner #}
			{% endif %}
		</main>{# /.sl_main #}
	</section>{# /.sl_content--body #}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}