.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: get-color(accent2);
	display: flex;
	align-items: center;
	position: relative;
	padding: $spacing--xl 0 !important;

	@include breakpoint (small down) {
		padding: $spacing--lg 0 !important;
	}//end small down breakpoint

	h1 {
		color: get-color(secondary);
		line-height: 1;

		@include breakpoint (small down) {
			max-width: 200px;
		}//end small down breakpoint
	}//end h1

	&:after {
		@include pseudo;
		left: 0;
		top: 0;
		bottom: 0;
		width: 50%;
		background-image: linear-gradient(270deg, rgba(238,238,238,0.00) 0%, #EFF9FB 100%);

		@include breakpoint (small down) {
			width: 100%;
		}//end small down breakpoint
	}//end &:after

	.sl_card {
		max-width: 400px;
		padding: 0;

		@include breakpoint (small down) {
			max-width: none;
		}//end small down breakpoint
		.sl_button-group {
			justify-content: flex-start;

			@include breakpoint (small down) {
				align-items: flex-start;
			}//end small down breakpoint
		}//end .sl_button-group
	}//end .sl_card
	
}//end .sl_module--billboard