.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--lg - $spacing--md/2,$p-xxlarge: $spacing--lg - $spacing--md/2);

		.sl_cell {
			padding: 0 $spacing--md/2;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint

			&:not(:last-of-type) {
				margin-bottom: $spacing--md;
			}//end &:not(:last-of-type)
		}//end .sl_cell

		& > h2 {
			padding-left: $spacing--md/2;

			@include breakpoint (small down) {
				padding-left: 0;
			}//end small down breakpoint
		}//end & > h2

		.sl_row {

			&.large-up-1 {
				.sl_card {
					display: flex;
					flex-direction: row;

					@include breakpoint (medium only) {
						max-width: none !important;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						flex-direction: column;
					}//end small down breakpoint

					&__image {
						width: 40%;
						height: 100%;

						@include breakpoint (small down) {
							width: 100%;
							min-height: 150px;
						}//end small down breakpoint
					}//end &__image

					&__content {
						padding: $spacing--sm 0 $spacing--sm $spacing--md;
						width: 60%;

						@include breakpoint (medium only) {
							padding: $spacing--xs 0 $spacing--xs $spacing--sm;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding: $spacing--xs 0;
							width: 100%;
						}//end small down breakpoint

						h3 {
							font-size: rem-calc(36px);
							color: get-color(secondary);

							@include breakpoint (small down) {
								font-size: 1.5rem;
							}//end small down breakpoint
						}//end h3
					}//end &__content
				}//end .sl_card
			}//end &.large-up-1
		}//end .sl_row

		h3 {
			font-size: 1.5rem;
			color: get-color(default);
			font-weight: $font-weight--extrabold;
			margin-bottom: $spacing--xs;

			@include breakpoint (small down) {
				font-size: 1.125rem;
			}//end small down breakpoint
		}//end h3
	}//end .sl_inner
}//end .sl_deck