.sl_insurance {

	&__logo {
		padding: $spacing--xs/2;
		display: flex;
		align-items: center;

		@include breakpoint (small down) {
			padding: $spacing--xs/2 $spacing--sm/2;
		}//end small down breakpoint
		img {
			max-width: 150px;
			height: auto;
			width: 100%;
			margin: 0 auto;

			@include breakpoint (small down) {
				max-width: 120px;
			}//end small down breakpoint
		}//img
	}//&__logo

	//INSURANCE DUO TYPE
	&--duo {
		@include breakpoint (small down) {
			background-image: linear-gradient(180deg, get-color(secondary) 80%, get-color(inverse) 80%, get-color(inverse) 100%);
			padding-top: 0;
		}//end small down breakpoint
		
		.sl_inner {
			@include innerpadding ($p-xsmall: 0, $p-small: 0, $p-medium: 0);
		}//end .sl_inner
	}//end &--duo
	&__duo {
		overflow: hidden;
		border-radius: $border-radius;
		box-shadow: $shadow;

		@include breakpoint (medium only) {
			border-radius: 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			border-radius: 0;
			box-shadow: none;
			overflow: visible;
		}//end small down breakpoint

		.sl_duo__content {
			h2 {
				text-align: center;
			}//end h2

			.sl_button {
				display: block;
				max-width: 350px;
				margin: 0 auto;
			}//end .sl_button
		}//end .sl_duo__content

		.sl_duo__media {
			min-height: 0;

			@include breakpoint (small down) {
				padding: 0 $spacing--sm;
			}//end small down breakpoint
			
			.sl_insurance__grid {
				padding: $spacing--lg;
				height: 100%;

				@include breakpoint (large down) {
					padding: $spacing--md - $spacing--xs/2;
				}//end large down breakpoint

				@include breakpoint (small down) {
					background-color: get-color(inverse);
					border-radius: $border-radius;
					box-shadow: $shadow;
					padding: $spacing--sm;
				}//end small down breakpoint
			}//end .sl_insurance__grid
		}//end .sl_duo__media
	}//end &__duo

	//Deck Type
	&--deck {
		text-align: center;

		.sl_inner {
			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end .sl_inner

		@include breakpoint (small down) {
			padding: $spacing--sm $spacing--sm $spacing--sm;

			.sl_inner {
				@include container;
				padding: $spacing--sm;
			}//end .sl_inner
		}//end small down breakpoint

		@include breakpoint (xsmall only) {
			padding: $spacing--sm $spacing--xs $spacing--sm;
		}//end xsmall only breakpoint
	}//end &--deck

	&__deck {
		max-width: 1150px;
		margin: 0 auto $spacing--md;
	}//end &__deck
}//end .sl_insurance