.sl_location {
	& > .sl_inner {
		& > .sl_row {
			background-color: get-color(accent2);
		}//end & > .sl_row
	}//end & > .sl_inner

	.sl_module__map {
		height: 100%;

		@include breakpoint (small down) {
			min-height: 215px;
		}//end small down breakpoint
	}//end .sl_module__map

	@include breakpoint (small down) {
		.sl_button--simple {
			background-color: get-color(secondary);
			border-radius: $border-radius--pill;
			box-shadow: $shadow;
			color: get-color(inverse);
			padding: $spacing--xs $spacing--sm;

			&:after {
				display: none;
			}//end &:after
		}//end .sl_button--simple

		&__card {
			text-align: center;
		}//end &__card
	}//end small down breakpoint
	
}//end .sl_location