.sl_spotlight {
	background: $gradient--primary;
	padding-bottom: $spacing--xxl;
	position: relative;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--md;
	}//end small down breakpoint
	& > * {
		color: get-color(inverse);
	}//end & > *

	&:after {
		@include pseudo;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-image: url(#{$path-img}clive-wave-background.png);
		background-size: cover;
    	background-position: center center;
	}//end &:after

	.sl_inner {
		display: flex;
		flex-direction: row;
		align-items: center;

		@include breakpoint (medium down) {
			flex-direction: column;
		}//end medium down breakpoint

		h2 {
			color: get-color(inverse);
			font-size: rem-calc(72px);
			text-transform: uppercase;
			width: 50%;
			margin-bottom: 0;

			@include breakpoint (medium down) {
				font-size: 2rem;
				width: 100%;
				text-align: center;
			}//end medium down breakpoint
		}//end h2

		.sl_card {
			width: 50%;
			padding-left: $spacing--md;

			@include breakpoint (medium down) {
				width: 100%;
				padding-left: 0;
				text-align: center;
			}//end medium down breakpoint

			.sl_button-group {
				justify-content: flex-start;

				@include breakpoint (medium down) {
					justify-content: center;
				}//end medium down breakpoint
			}//end .sl_button-group

			.sl_button {
				color: get-color(default);

				&:hover {
					color: get-color(inverse);
				}//end &:hover
			}//end .sl_button

			.sl_button--border {
				background: none;
				border-color: get-color(inverse);
				color: get-color(inverse);

				&:after, &:before {
					display: none;
				}//end &:after, &:before
			}//end .sl_button--border
		}//end .sl_card
	}//end .sl_inner
}//end .sl_spotlight