.sl_staff {

	&--deck {
		h2 {
			padding: 0 $spacing--lg/2;
			color: get-color(secondary);

			@include breakpoint (large only) {
				padding: 0 $spacing--md/2;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: 0 $spacing--xs/2;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0 $spacing--xs/2;
			}//end small down breakpoint
		}//end h2
		.sl_inner {

			@include innerpadding($p-xsmall: $spacing--xs - $spacing--xs/2, $p-small: $spacing--sm - $spacing--xs/2, $p-medium: $spacing--md - $spacing--sm/2, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--lg - $spacing--lg/2,$p-xxlarge: $spacing--lg - $spacing--lg/2);
			& > .sl_row {
				& > .sl_cell {
					padding: 0 $spacing--lg/2;
					margin-bottom: $spacing--md;

					@include breakpoint (large only) {
						padding: 0 $spacing--md/2;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding: 0 $spacing--sm/2;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: 0 $spacing--xs/2;
						margin-bottom: $spacing--xs;
					}//end small down breakpoint
				}//end & > .sl_cell
			}//end & > .sl_row
		
		}//end .sl_inner
		.sl_staff__image {
			min-height: 500px;

			@include breakpoint (large only) {
				min-height: 400px;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				min-height: 250px;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				min-height: 160px;
			}//end small down breakpoint
		}//end &.sl_staff__image

		h3 {
			color: get-color(primary);
			margin-bottom: 0;
			line-height: 1;
		}//end h3

		.sl_staff__cert {
			font-weight: $font-weight--extrabold;
			font-size: rem-calc(28px);
			color: get-color(primary);
			text-transform: uppercase;
			margin-bottom: 0;

			@include breakpoint (medium only) {
				font-size: 1.25rem;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				font-size: 1rem;
			}//end small down breakpoint
		}//end .sl_staff__cert

		.sl_staff__title {
			font-weight: $font-weight--bold;
			color: get-color(default);
			line-height: 1.1;
			margin-top: $spacing--xs/2;

			@include breakpoint (medium only) {
				font-size: 1rem;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				font-size: rem-calc(14px);
				margin-top: 0;
			}//end small down breakpoint
		}//end .sl_staff__title
	}//end &--deck

	&--spotlight {
		h3 {

		}//end h3

		h4 {

		}//end h4

		.sl_button {

		}//end .sl_button

		.sl_inner {

		}//end .sl_inner

		.sl_staff__image {
			border-radius: $border-radius;
			min-height: 450px;

			@include breakpoint (medium down) {
				min-height: 350px;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				max-width: 375px;
				margin: 0 auto;
			}//end small down breakpoint
		}//end &.sl_staff__image
	}//end &--spotlight

	&__image {
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	}//end &__image
}//end .sl_staff