.sl_wildcard {

	&--email {
		background-color: get-color(accent3);

		.sl_card {
			padding: 0;
		}//end .sl_card

		.ctct-form-defaults {
			padding: 0 $spacing--md !important;
			background: none !important;

			@include breakpoint (medium only) {
				padding: $spacing--sm 0 !important;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--xs 0 !important;
			}//end small down breakpoint

			.ctct-form-header, .ctct-form-text {
				display: none !important;
			}//end .ctct-form-header, .ctct-form-text

			input.ctct-form-element {
				margin-bottom: 0 !important;
				background-color: rgba( #D8D8D8, .25) !important;
				border: 1px solid get-color(default) !important;
				border-radius: 0 !important;
			}//end input.ctct-form-element

			.ctct-form-label {
				font-size: 1.125rem !important;
				font-weight: $font-weight--regular !important;
				font-family: $body-font-family;
			}//end .ctct-form-label

			.ctct-form-button {
				font-family: $body-font-family;
				background-color: get-color(accent1) !important;
				border-radius: $border-radius--pill !important;
				font-weight: $font-weight--bold !important;
				font-size: $font-size--regular !important;
				padding: $spacing--xs $spacing--md !important;
				border: none !important;
				display: inline-block !important;
				width: auto !important;
			}//end .ctct-form-button
		}//end .ctct-form-defaults
	}//end &--email
}//end .sl_wildcard