{% if card.button_group == true %}
    <div class="sl_button-group">
{% endif %}
        {% for button in card.buttons %}
            {% if button.acf_fc_layout == 'Default Button'%}
                <a href="{{button.button.url}}" class="sl_button sl_button--{{button.button_class}}">{{button.button.title}}</a>
            {% endif %}
            {% if button.acf_fc_layout == 'Modal Button'%}
                <a data-open="{{button.modal_target}}" class="sl_button sl_button--{{button.button_class}}">{{button.title}}</a>
            {% endif %}
            {% if button.acf_fc_layout == 'Phone Button'%}
                <a class="sl_button sl_button--phone sl_button--{{button.button_class}}" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{% if button.cta_field == true %}{% endif %}<span class="sl_phone__cta">{{button.cta_text}} </span>{{option.phone.main}}</a>
            {% endif %}
            {% if button.acf_fc_layout == 'Share Button' %}
                <a class="sl_button sl_button--share sl_button--secondary share-button st-custom-button" data-network="sharethis">share</a>
            {% endif %}
            {% if button.acf_fc_layout == 'Chat Button' %}
                {{function('do_shortcode', '[lhn_inpage button="chat" text="Chat with us" offline_text="remove" class="sl_button '~ button.button_class ~'"]')}}
            {% endif %}
        {% endfor %}
{% if card.button_group == true %}
    </div>
{% endif %}
