.sl_accordion {
	background: none;
	&__item {
		margin-bottom: $spacing--xs !important;
		border-radius: 0;
		background: none;
		overflow: hidden;

		&:not(:last-of-type) {
			border-bottom: 1px solid rgba(get-color(default),.25);
		}//end &:not(:last-of-type)
	
		&:last-of-type {
			margin-bottom: 0;
		}//end &:last-of-type
	}//end &__item

	&__title {
		background: none;
		border: none !important;
		padding: $spacing--md $spacing--sm + rem-calc(21px) $spacing--md 0;
		font-size: 1.5rem;
		font-weight: $font-weight--extrabold;
		line-height: 1.25;
		color: get-color(primary);

		@include breakpoint (small down) {
			font-size: 1.25rem;
		}//end small down breakpoint

		&:hover, &:focus {
			background: none;
			color: get-color(primary);
		}//end &:hover, &:focus

		&:before {
			@include fontawesome( $content:'\f077');
			color: get-color(primary);
			font-size: 1.5rem;
			right: $spacing--sm;
			top: 44%;
		}//end &:before

		.is-active > & {
			color: get-color(primary);

			&:before {
				@include fontawesome( $content:'\f078');
			}//end &:before
		}//end .is-active &
	}//end &__title

	&__content {
		padding: 0 $spacing--md $spacing--md 0;
		background: none;
		border: none !important;
		
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__content

}//end .sl_accordion
