.sl_callout {
	@extend .callout;
	margin: $spacing--lg 0;
	overflow: auto;
	clear: both;
	padding: $spacing--lg;
	border: none;
	border-radius: 0;
	box-shadow: $shadow;

	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--sm;
	}//end small down breakpoint

	&--large {
		background: none;
		box-shadow: none;

		p {
			font-size: 1.5rem;
			color: get-color(secondary);
			font-weight: $font-weight--bold;
		}//end p
	}//end &--nobox

	&--primary {
		background-color: get-color(accent3);

		h2, h3 {
			color: get-color(primary);
		}//end h2, h3
	}//end &--primary

	&--inverse {
		background-color: get-color(primary);

		& > * {
			color: get-color(inverse);
		}//end & > *
	}//end &--inverse

	&--border {
		border: 1px solid get-color(default);
	}//end &--inverse

	&--card {
		padding: 0 !important;
		overflow: hidden;
		max-width: 600px;

		&__media {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__media
		&__content {
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &__content
	}//end &--card

	&--assessment {
	}//end &--assessment
}//end .sl_callout
