.sl_divider {
	height: 1px;
	width: 100%;
	background-color: rgba(get-color(default), .25);
	margin: $spacing--md auto;

	&--space {
		background: none;
		margin: $spacing--md auto;
	}//end &--space
}//end .sl_divider