//Shadow
$shadow: 1px 3px 10px 0 rgba(0,0,0,0.10);
$shadow--button: 0 5px 10px 0 rgba(0,0,0,0.10);
$shadow--inner: inset 0 0 7px 0 rgba(0,0,0,0.20);

//Hover
$shadow--hover: 0 0 10px 0 rgba(0,0,0,0.20);
$shadow--button--hover: 0 5px 10px 0 rgba(0,0,0,0.05), 0 5px 24px 0 rgba(0,0,0,0.10);
