body.error404 {
	.sl_content {
		padding: $spacing--xl 0;

		@include breakpoint (small down) {
			padding: $spacing--md 0;
		}//end small down breakpoint
		&__related {

			.sl_inner {
			}//end .sl_inner
		}//end &__related
	}//end .sl_content
}//end &__related