.sl_breadcrumbs {
	li {
		margin-bottom: 0 !important;
		line-height: 1;
		color: get-color(accent1);
		font-size: 1rem;
		font-weight: $font-weight--bold;
		&:not(:last-child) {
			&:after {
				@include fontawesome ($content:'\f054');
				color: get-color(accent1);
			}//end &:after
		}//end &:not(:last-child)

		@include breakpoint (small down) {
			line-height: 1.5;
		}//end small down breakpoint

		a {
			color: get-color(accent1);
		}//end a
	}//end li

	&__current {
		font-weight: $font-weight--bold;
	}//end &__current

	@include breakpoint (large only) {
		margin-top: $spacing--lg;
	}//end large only breakpoint

	@include breakpoint (small down) {
		margin-top: $spacing--md;
	}//end small down breakpoint
}//end .sl_breadcrumbs

body.home .sl_breadcrumbs {
	display: none;
}