.sl_footer {
	background-color: get-color(default);
	padding: $spacing--xxl 0;

	@include breakpoint (medium only) {
		padding: $spacing--lg 0;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint

	&__logo {
		text-align: center;
		padding: 0 $spacing--md;

		@include breakpoint (small down) {
			padding: 0 $spacing--md 0 0;
		}//end small down breakpoint
		img {
			max-width: 173px;
			width: 100%;
		}//end img
	}//end &__logo

	//Menu
	&__menu {

		@include breakpoint (small down) {
			display: flex;
			align-items: center;
		}//end small down breakpoint
		
		& > .sl_row {
			justify-content: flex-end;
			
			& > .sl_cell {
				padding: 0 $spacing--xl;

				@include breakpoint (large only) {
					padding: 0 $spacing--sm;
				}//end large only breakpoint

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint

				&:first-of-type {
					padding-left: 0;
				}//end &:first-of-type

				&:last-of-type {
					padding-right: 0;
				}//end &:last-of-type

				&:not(:last-of-type) {
					border-right: 1px solid get-color(inverse);
				}//end &:not(:last-of-type)
			}//end & > .sl_cell
		}//end & > .sl_row
		

		.sl_menu {
			margin-bottom: 0;
			flex-direction: column;

			& * {
				color: get-color(inverse);
			}//end & *

			& > li {
				font-weight: $font-weight--semibold;
				font-size: 1rem;
				position: relative;
				display: block;
			}//end & > li

			a {
				padding: 0;
				line-height: 1.5;
				font-size: 1.25rem;
				margin-bottom: $spacing--xs/2;
				font-weight: $font-weight--semibold;
			}//end a
		}//end .sl_menu

		.sl_usermenu {
			& > li {
				flex: 1 1 100%;
			}//end & > li
		}//end .sl_usermenu
	}//end &__menu

	&__address {
		font-family: $header-font-family;

		a {
			color: get-color(inverse) !important;
			display: block;
		}//end a

		p {
			font-size: 1.25rem;
			margin-bottom: 0;
			font-weight: $font-weight--semibold;
			line-height: 1.8;

			@include breakpoint (small down) {
				font-size: 1rem;
				line-height: 1.25;
				text-align: center;
			}//end small down breakpoint
		}//end p

		.sl_phone {
			color: get-color(secondary) !important;
			font-weight: $font-weight--semibold;
			font-size: 1.25rem;

			@include breakpoint (small down) {
				font-size: 1.125rem;
				text-align: center;
			}//end small down breakpoint
		}//end .sl_phone
	}//end &__address

	//Info
	&__info {
		padding-top: $spacing--xl;

		@include breakpoint (small down) {
			padding-top: $spacing--sm;
		}//end small down breakpoint
		
		.sl_inner {
			p {
				text-align: center;
				font-size: 1rem;
			}//end p

			& > * {
				color: get-color(inverse);
			}//end & > *

			a {
				color: get-color(inverse) !important;
			}//end a

			& > :last-child { margin-bottom: 0; }

			.sl_menu {
				justify-content: center;
				align-items: center;
				margin-bottom: $spacing--md;

				& * {
					color: get-color(inverse);
				}//end & *

				& > li {
					font-weight: $font-weight--bold;
					font-size: 1rem;
					position: relative;

					&:not(:last-of-type) {
						padding-right: $spacing--sm;
						margin-right: $spacing--sm;

						&:after {
							content: '|';
							position: absolute;
							right: 0;
							top: 0;
						}//end &:after
					}//end &:not(:last-of-type)
				}//end & > li

				a {
					padding: 0;
					line-height: 1.5;
				}//end a
			}//end .sl_menu
		}//end .sl_inner
	}//end &__info

	//Social
	&__socials {
		margin-bottom: $spacing--xs;
		
		.sl_row {
			align-items: center;
			justify-content: center;

			.sl_cell {
				width: auto;
				padding: 0 $spacing--xs/4;
				display: flex;
				align-items: center;
			}//end .sl_cell
		}//end .sl_socials
	}//end &__socials

}//end .sl_footer