.sl_header {
	@include inner;
	position: relative;
	z-index: 999;
	background-color: get-color(primary);
	max-width: none;
	
	// LARGE HEADER //
	.sl_nav {
		background-color: transparent;
		position: relative;
		max-width: $grid-container;
		margin: 0 auto;
		padding: 0;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 248px;

			@include breakpoint (large only) {
				max-width: 198px;
			}//end large only breakpoint

		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 132px;
				padding: $spacing--xs/2 0;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(inverse);
						padding: $spacing--xs $spacing--sm;
						@include transition (.2s all ease-in-out);
						font-size: 1.25rem;
						font-weight: $font-weight--bold;
						border-radius: $border-radius $border-radius 0 0;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							background-color: rgba(get-color(inverse), .1);
						}//end &:hover
					}//end & > a
					
					//Dropdown menu hover class
					&.hover {
						& > a {
							background-color: rgba(get-color(inverse), .1);
							&:after {
						    	@include pseudo;
								width: 0; 
								height: 0; 
								border-left: 10px solid transparent;  /* left arrow slant */
								border-right: 10px solid transparent; /* right arrow slant */
								border-bottom: 15px solid get-color(inverse); /* bottom, add background color here */
								font-size: 0;
								line-height: 0;
								bottom: 0;
								right: calc(50% - 10px);
								z-index: 11;
						    }//end &:after
						}//end a 
					}//end .hover class

					//Current Page 
					&.current_page_item, &.current_page_parent {
						& > a {
							color: get-color(inverse);
							background-color: darken(get-color(primary), 5%);
						}//end & > a
					}//end &.current_page_item

					//Has Dropdown
					&.is-dropdown-submenu-parent {
						& > a {
							&:after {
								display: none;
							}//end &:after
						}//end & > a

						&.is-active {
							& > a {
								background-color: rgba(get-color(inverse), .1);
								&:after {
							    	@include pseudo;
									width: 0; 
									height: 0;
									border-top: 0px;
									border-left: 10px solid transparent;  /* left arrow slant */
									border-right: 10px solid transparent; /* right arrow slant */
									border-bottom: 15px solid get-color(inverse); /* bottom, add background color here */
									font-size: 0;
									line-height: 0;
									top: auto;
									bottom: 0;
									right: calc(50% - 10px);
									z-index: 11;
							    }//end &:after
							}//end a 
						}//end &.is-active
					}//end &.is-dropdown-submenu-parent

					//Dropdown Menu
					&.opens-right {
						.is-dropdown-submenu {
							background: get-color(inverse);
							box-shadow: $shadow;
							min-width: 300px;
							border: none;
							padding: 0;

							& > li {
								& > a {
									font-size: 1.25rem;
									font-family: $header-font-family;
									color: get-color(primary);
									font-weight: $font-weight--regular;
									padding: $spacing--sm $spacing--md;
									@include transition (.2s all ease-in-out);

									@include breakpoint (large only) {
										font-size: 1rem;
										padding: $spacing--xs;
									}//end large only breakpoint

									&:hover {
										background-color: rgba(get-color(primary), .1);
										@include transition (.2s all ease-in-out);
									}//end &:hover
								}//end & > a

								&:not(:last-of-type) {
									border-bottom: 1px solid rgba(get-color(primary), .1);
								}//end &:not(:last-of-type)

								&.is-active {
									& > a {
										background-color: get-color(accent3);
										color: get-color(inverse);
									}//end & > a
								}//end .is-active
							}//end & > li
						}//end & > .is-dropdown-submenu
					}//end &.opens-right
				}//end & > li
			}//end .sl_menu
		}//end &__menu


		// USER NAV
		&__secondary {
			display: flex;
			align-items: center;
			background-color: get-color(inverse);
			box-shadow: $shadow;
			border-radius: 0 0 $border-radius $border-radius;
			padding: $spacing--xs $spacing--md;
			margin-bottom: $spacing--xs;
		}//end &__secondary

		// PHONE
		&__phone {
			margin-right: $spacing--md;

			@include breakpoint (large only) {
				margin-right: $spacing--sm;
			}//end large only breakpoint
			.sl_phone {
				display: flex;
				flex-direction: column;
				align-items: center;
				&__number {
					font-weight: $font-weight--bold;
					font-size: rem-calc(21px);
					color: get-color(accent1);
					line-height: 1;
				}//end &__number

				&__cta {
					font-size: 1rem;
					font-weight: $font-weight--regular;
					display: block;
				}//&__cta
			}//end .sl_phone
		}//end &__phone

		&__search {
			max-width: 150px;
			margin-right: $spacing--md;

			@include breakpoint (large only) {
				margin-right: $spacing--sm;
			}//end large only breakpoint
			input {
				margin: 0;
			}//end input

			 .sl_form__input {
			 	border: 1px solid get-color(default);
			 }//end .sl_form__input
		}//end &__search

		&__usermenu {
			.sl_menu {
				background-color: transparent;
				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						border-radius: $border-radius;
						color: get-color(default);
						padding: $spacing--xs/2;
						position: relative;
						font-size: 1.125rem;
						@include transition(all .3s ease-in-out);

						&:hover {
							background-color: rgba(get-color(inverse), .1);
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end .sl_menu
		}//end &__usermenu
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: $spacing--md 0 $spacing--xs 0;
		align-items: flex-end;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 106px;

			@include breakpoint (medium only) {
				max-width: 150px;
			}//end medium only breakpoint
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 70px;

				@include breakpoint (medium only) {
					max-height: 100px;
				}//end medium only breakpoint
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;

		}//end &__right
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js