body {
	background-color: get-color(accent2);

	&.page-template-template-landing {
		background-color: get-color(inverse);
	}//end &.page-template-template-landing

	//DEFAULT PAGE TEMPLATE, STAFF, and CONTACT
	&.page-template-default, &.page-template-template-staff, &.page-template-template-contact {
		.sl_content {
			padding-bottom: $spacing--xl;

			@include breakpoint (small down) {
				padding-bottom: $spacing--md
			}//end small down breakpoint

			h1 {
				font-size: 3rem;

				@include breakpoint (small down) {
					font-size: 2rem;
				}//end small down breakpoint
			}//end h1
			
			&__header {
				min-height: 325px;
				display: flex;
				justify-content: flex-start;
				flex-direction: column-reverse;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: relative;
				padding: $spacing--xxl 0 $spacing--lg;

				@include breakpoint (small down) {
					padding: $spacing--sm 0;
					min-height: 200px;
				}//end small down breakpoint

				&:after {
					@include pseudo;
					background-image: linear-gradient(0deg, rgba(0,0,0,0.55) 0%, rgba(255,255,255,0.00) 100%);
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 0;
				}//end &:after

				.sl_inner {
					position: relative;
					z-index: 1
				}//end .sl_inner

				h1 {
					color: get-color(inverse);
					margin-bottom: 0;

					@include breakpoint (small down) {
						font-size: 2rem;
						text-shadow: 0 3px 8px rgba(get-color(default),0.50);
					}//end small down breakpoint
				}//end h1
			}//end &__header

			&__body {
				padding-top: $spacing--lg;

				@include breakpoint (small down) {
					padding-top: $spacing--md;
				}//end small down breakpoint

				.sl_main {
					.sl_inner {
						& > :last-child {
							margin-bottom: 0;
						}//end & > :last-child
					}//end .sl_inner
				}//end .sl_inner
			}//end &__body

			&__main {
				padding-right: $spacing--xxl;

				@include breakpoint (large only) {
					padding-right: $spacing--md;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					padding-right: 0;
				}//end medium down breakpoint

			}//end &__main

			&__global_cta {
				padding-top: $spacing--lg;
				margin-top: $spacing--lg;
				border-top: 1px solid rgba(get-color(default),.25);
			}//end &__global_cta
		}//end .sl_content
	}//end &.default

	&.page-template-template-formatting {
		.sl_content {
			padding-top: $spacing--xxl;
		}
	}
}//end body
