body.search {
	.sl_content {
		padding: $spacing--xl 0;

		@include breakpoint (small down) {
			padding: $spacing--md 0;
		}//end small down breakpoint

		&__body {
		}//end &__body

		&__sidebar {

		}//end &__sidebar

		&__loop {
		}//end &__loop
	}// .sl_content

	.sl_post {
		&:not(last-of-type) {
			display: block;
			margin-bottom: $spacing--sm;
		}//end &:not(last-of-type)

		p:empty {
			display: none;
		}//end p:empty
	}//end .sl_post

	.sl_pagination {

	}//end .sl_pagination
}//end body.search

//clears the 'X' from IE
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

//clears the 'X' from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
