.sl_sidebar {

	&__container {
		
	}//end &__container

	&__menu {
		margin: 0;
		list-style: none;

		& > li {
			font-size: 1.125rem;
			&:not(:last-of-type) {
				margin-bottom: $spacing--xs;
			}//end &:not(:last-of-type)

			& > a {
				font-weight: $font-weight--semibold;
				color: get-color(accent1) !important;
				position: relative;
				display: block;

				&:after {
					@include fontawesome ($content: '\f054');
					position: absolute;
					right: 0;
					font-size: rem-calc(13px);
				}//end &:after
			}//end & > a

			& > ul {
				list-style: none;
				margin-bottom: 0;

				& > li {
					font-size: 1rem;
					padding: $spacing--xs 0;

					a {
						font-weight: $font-weight--regular;
					}//end a

					&:not(:last-of-type) {
						border-bottom: 1px solid rgba(get-color(default), .25);
					}//end &:not(:last-of-type)
				}//end & > li
			}//end & > ul
		}//end & > li
	}//end &__menu

	&__title {
		margin-bottom: $spacing--xs;
		color: get-color(default);
		font-size: 1.25rem;
		font-weight: $font-weight--semibold;
	}//end &__title
}//end .sl_sidebar

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
		}//rnf &__title

	}//end .sl_sidebar
}//end body.search