// 1. Default Post Single
// 2. Staff Single
//------------------------------

// 1. DEFAULT POST SINGLE
.post-template-default {
	.sl_post {
	}//end .sl_post

	.sl_content {
		&__body {


			.sl_inner {
				font-size: 1.25rem;

				p, li {
					font-size: 1.25rem;

					@include breakpoint (small down) {
						font-size: $font-size--regular;
					}//end small down breakpoint
				}//end p

				img {
					@include breakpoint (small down) {
						width: 100%;
						height: auto;
					}//end small down breakpoint
				}//end img
				
				//Content Grid

				@include breakpoint (small down) {
					.sl_button--share {
						width: auto;
					}
				}//end small down breakpoint
				
				//FRN Plugin Table of Contents
				.frn_toc {
					max-width: 40%;
					padding: $spacing--md;
					margin-right: $spacing--md;
					margin-bottom: $spacing--sm;

					@include breakpoint (medium only) {
						float: left;
						padding: $spacing--sm;
						margin-right: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						max-width: 100%;
						display: block;
						padding: $spacing--sm;
						margin-right: 0;
					}//end small down breakpoint

					&_inner{
						margin: 0 !important;
						padding: 0 !important;

						h2 {
							font-size: 1.625rem;
							padding-bottom: 1rem;
							border-bottom: 1px solid get-color(default);
							margin-bottom: 1rem;
						}//end h2

						ul {
							list-style: none;
							margin: 0 0 0 $spacing--xs + rem-calc(13px);

							li {
								font-size: $font-size--regular;
								line-height: 1.6;
								margin-top: 0;
								margin-bottom: 1rem;

								@include breakpoint (medium only) {
									padding: 0;
									line-height: 1.25rem;
								}//end medium only breakpoint

								@include breakpoint (small down) {
									font-size: 1rem;
									line-height: 1.25;
								}//end small down breakpoint

								&:last-of-type {
									margin-bottom: 0;
								}//end &:last-of-type

								a {
									color: get-color(default);
								}//end a
							}//end li
						}//end ul
					}//end &_inner
				}//end .frn_toc
			}//end .sl_inner
		}//end &__body

		&__post {
			.sl_button {
				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint
			}//end .sl_button
		}//end &__post
	}//end .sl_content
}//end .post-template-default

// 2. STAFF SINGLE
.single-sl_staff_cpts {
	.sl_content {
		padding: 0 0 $spacing--xl 0;
		&__body {
			padding-top: $spacing--xl;
			
			.sl_inner {

				.sl_staff__image {
					min-height: 500px;

					@include breakpoint (large down) {
						min-height: 400px;
					}//end large down breakpoint

					@include breakpoint (small down) {
						max-width: 300px;
						min-height: 400px;
						margin: 0 auto;
					}//end small down breakpoint
				}//end &.sl_staff__image

				.sl_staff__content {
					padding-left: $spacing--sm;

					@include breakpoint (small down) {
						padding: 0;
						padding-top: $spacing--md;
					}//end small down breakpoint
				}//end .sl_staff__content
			}//end .sl_inner
		}//end &__body
	}//end .sl_content
}//end .single-sl_staff_cpts