/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Simple Button
5. Border Button
6. Alert Button
7. Pagination Button
8. Social Buttons
9. Share Button
10. Carousel Buttons
11. Back to Top Button
12. Video Button
13. Menu Button

- Button Group
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	@include transition (all .2s ease-in-out);
	background-color: get-color(accent1);
	border-radius: $border-radius--pill;
	font-weight: $font-weight--bold;
	font-size: $font-size--regular;
	padding: $spacing--xs $spacing--md;


	&:hover {
		@include transition (all .2s ease-in-out);
	}//end &:hover

	//Medium Button
	&--medium {

	}//end &--medium
	
	//Small Button
	&--small {

	}//end &--small

//2. Secondary Button 
	&--secondary {
		background-color: #9EDAE4;
		color: get-color(default);
		&:hover {

		}//end &:hover
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Simple Button
	&--simple{
		background: none;
		color: get-color(accent1);
		box-shadow: none;
		padding: 0;
		border-radius: 0;

		&:after {
			@include fontawesome( $content: '\f061');
			display: inline-block;
			margin-left: $spacing--xs/2;
		}//end &:after

		&:hover {
			background: none;
			color: get-color(primary);
		}//end &:hover
	}//end &--simple

//5. Border Button
	&--border {
		@include fancy-button;
		// background-color: get-color(inverse);
		// border: 2px solid get-color(accent1);
		// color: get-color(accent1);
	}//end &--icon

//6. Alert Button
	&--alert{
		background: none;
		border-radius: $border-radius;
		border: 2px solid get-color(inverse);
		font-size: 1.25rem;
		margin-bottom: 0;
		padding: $spacing--xs/2 $spacing--xs;

		&:hover {
			background-color: get-color(inverse);
			color: get-color(default);
		}
	}//end &--download

//7. Pagination Button
	&--pagination {

	}//end &--pagination

//8. Social Buttons
	&--social {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
		color: get-color(inverse);
		font-size: 2rem;
		background-color: transparent;

		&:hover, &:focus {
			background-color: transparent;
		}//end &:hover, &:focus

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		&.sl_facebook:hover {color: #3B5998 !important;}
		&.sl_twitter:hover {color: #1DA1F2 !important;}
		&.sl_youtube:hover {color: #FF0000 !important;}
		&.sl_linkedin:hover {color: #007BB5 !important;}
	}//end .sl_button--social

//9. Share Button
	&--share {
		
	}//end .sl_button--share

//10. Carousel Buttons
	&--carousel {
		background-color: get-color(accent1);
		height: 4rem;
		width: 4rem;
		position: absolute;
		top: calc(50% - 2rem);
		z-index: 2;
		cursor: pointer;

		&:before {
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-size: 18px 25px;
			background-position: center center;

			@include breakpoint (small down) {
				background-size: 11px 17px;
			}//end small down breakpoint
		}//end &:before

		&.sl_prev {
			left: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-left-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				left: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_prev

		&.sl_next {
			right: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-right-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				right: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_next

	}//end &--carousel

//11. Back to Top Button
	&--backtop {
		position: fixed;
		z-index: 99;
		bottom: $spacing--xl;
		right: $spacing--xs;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		padding: 0;
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}
	}//end &--backtop

//12. Video Button
	&--video {
			background-color: get-color(inverse);
			border-radius: 50%;
			z-index: 1;
			height: 83px;
			width: 83px;
			position: relative;
			@include transition(all .3s ease-in-out);

			@include breakpoint (small down) {
				height: 70px;
				width: 70px;
				top: calc(50% - 35px);
			}//end small down breakpoint

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-image: url(#{$path-img}icon/play-icon.svg);
				background-repeat: no-repeat;
				background-size: 35px 35px;
				background-position: 60% center;

				@include breakpoint (small down) {
					background-size: 25px 25px;
				}//end small down breakpoint
			}//end &:before

			&:hover, &:focus {
				background-color: darken(get-color(inverse), 5%);
			}//end &:hover
	}//end &--video

//13. Menu Button
	&--menu {
		background: none;
		font-weight: $font-weight--extrabold;
		font-size: 1.5rem;
		text-transform: uppercase;
		padding: 0;
		margin-bottom: 0;
		border-radius: 0;

		&:hover, &:focus {
			background: none;
		}//end &:hover, &:focus
	}//end &--menu
}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;

		@include breakpoint (small down) {
			width: 100%;
			display: block;
		}//end small down breakpoint
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--xs;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

}//end .sl_button-group
