.sl_card {
	padding: $spacing--lg;
	width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide & {
			min-height: 240px;

			@include breakpoint (medium only) {
				min-height: 275px;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				min-height: 175px;
			}//end small down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide & {
			padding: $spacing--sm;

			@include breakpoint (small down) {
				padding: $spacing--xs 0;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--duo {
		padding: $spacing--md;

		@include breakpoint (small down) {
			padding: $spacing--sm 0;
		}//end small down breakpoint
	}//end &--duo

	&--deck, &--slide {
		padding: 0;
		height: 100%;
	}//end &--deck, &--slide

	&--deck {
		@include breakpoint (medium only) {
			max-width: 500px;
			margin: 0 auto;
		}//end medium only breakpoint
	}//end &--deck

	&--spotlight {
		padding: 0;
	}//end &--spotlight

	&--staff {
		padding: 0;
		background: none;
		border-radius: 0;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm 0 $spacing--sm $spacing--sm;

			@include breakpoint (large only) {
				padding: $spacing--xs 0 $spacing--xs $spacing--xs;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--xs 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--xs 0;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

	&--results {
		background-color: get-color(inverse);
	}//end &--results

	&--wysiwyg {
		padding: 0;
	}//end &--results

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
}
